<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Login</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}

</style>
<link rel="stylesheet", href="../public/css/main.css">
</head>
<body>

<div class="banner">
    <img src="../public/img/kiit2.png" alt="Banner Image">
</div>
<div class="container">
    <img src="../public/img/kiit.png" alt="Kiit Logo", width="80px">
    <h2>Scan Your ID Card</h2>
    <input type="text" placeholder="Roll number">
    <button>Submit</button>
</div>

</body>
</html>